<h1>Listing projects</h1>

<% @projects.each do |project| -%>
  <div class="post">
    <h2 class="title"><%= project.title %></h2>
    <div class="entry">
      <p><%= project.description %>
    </div>
    <div class="meta">
      <p class="links">
        <% if current_user.projects.include?(project) -%>
          <%= link_to "You are currently assigned to this project", "#", :class => 'more' %>
        <% else -%>
          <%= link_to "Add this project to my notebook", add_me_project_path(project), :class => 'comments' %>
        <% end -%>
      </p>
    </div>
  </div>
<% end -%>
</table>

<br />

<%= link_to 'New project', new_project_path %>