<div class="post">
  <h2 class="title"><b>Project:</b> <%= @project.title %></h2>
  
  <div class="entry">
    <p><%=h @project.description %></p>
  </div>
  <div class="meta">
    <p class="links">
      <%= link_to 'Edit Project', edit_project_path(@project), :class => 'more' %>
      <%= link_to 'New Experiment', new_project_experiment_path(@project), :class => 'comments' %>
    </p>
  </div>
</div>
<div class="post">
  <h2 class="title">Current Experiments</h2>
  <% if @project.experiments.blank? %>
    <p>Project has no experiments.</p>
  <% else %>
    <ul>
      <% @project.experiments.each do |experiment| %>
        <li><%= link_to experiment.title, [@project, experiment] %></li>
      <% end %>
    </ul>
  <% end %>
</div>



