<div class="post">
<h2>Editing experiment for <%= @project.title %></h2>

<% form_for([@project,@experiment]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@project,@experiment] %> |
<%= link_to 'Back', @project %>
</div>