<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "reset", "styles" %>
  <%= javascript_include_tag "jquery-1.3.2.js", "application" %>
</head>
<body>
  <div id="container">
    <%= render :partial => 'shared/header' %>
    <div id="content">
      <% if logged_in? %>
        <%= render :partial => 'shared/side_bar' %>
      <% end %>
      <div id="main">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield  %>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>