<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Lab Notebook</title>
  <%= stylesheet_link_tag "jquery.wysiwyg.css", "default", "jquery.autocomplete.css", "styles" %>
  <%= javascript_include_tag "jquery-1.3.2.js", "jquery.wysiwyg.js", "jquery.autocomplete.js", "application" %>
</head>
<body>
  <%= render :partial => 'shared/header' %>
  <div id="page">
    <div id="content">
      <% flash.each do |key, value| %>
        <p class="flash_message <%= key %>"><%= value %></p>
      <% end %>
      <%= yield  %>
    </div>
    <% if logged_in? %>
      <%= render :partial => 'shared/side_bar' %>
    <% end %>
    <div style="clear:both;"></div>
  </div>
  <%= render :partial => 'shared/footer' %>
</body>
</html>